 /* .social-part .fa{
    padding-right:20px;
    
}
  */ 
  @import url('https://fonts.googleapis.com/css?family=Quicksand:400,700');
@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');  
ul li a{
    margin-right: 20px;
    color: #6ab04c;
    
   
}
ul li a:hover{
    margin-right: 20px;
    color: rgb(147, 192, 75)
    
   
}
body{
  margin: 0;
  padding: 0;
  background: rgb(104, 240, 0);
  font-family: 'Quicksand', sans-serif;
}
.container {
  width: 95%;
  max-width: 1000px;
  margin: 0 auto;
  height: auto;
}
