<section id="hero" class="d-flex justify-cntent-center align-items-center">
    <div id="heroCarousel" class="container carousel carousel-fade" data-ride="carousel">

      <!-- Slide 1 -->
      <div class="carousel-item active" style="margin-top: 7vw;">
        <div class="carousel-container">
          <h2>Welcome to <span>Rudra Enterprises</span></h2>
          <p class="animated fadeInUp">Digital Signature Certificates or DSC or Digital Signature are being adopted by various government agencies and now is a statutory requirement in various applications.There are various Type and Class of DSC, the information below would help you to arrive to the right certificate for your needs.</p>
          <a href="#about-section" class="btn-get-started animated fadeInUp scrollto">Read More</a>
        </div>
      </div>
      </div>
      <app-topbutton></app-topbutton>
      </section>
