<!-- <div id="about-section">
    <div class="container" style="text-align: center;margin-top: 2vw; width: 100%;">
        <div class="theme-title">
            <h2 class="bounceIn animated heading-style">Digital Signature Certificate</h2>
            <hr>
            <p>Meet our team who is working hard day in day out to make Life better for the society since 1987.</p>
        </div> 

        <div style="padding: 20px">

        </div>
   
        <p-tabView style="background-color: chartreuse;">
            <p-tabPanel header="Certificate Type" headerStyleClass="redText" style="text-align: justify;">
                <p class="text-muted">
                    <b>Sign</b> DSC can only be used for signing documents. The most popular usage of is signing the PDF
                    file for Tax Returns, MCA and other websites.</p>
                <br>
             
                <p class="text-muted">
                    <b>Encrypt</b> DSC can only be used to encrypt a document, it is mainly used in the tender portal.
                    Encrypt DSC is fit for e-commerce documents, legal documentation and sharing documents that are
                    highly confidential and contains information that needs to be protected. </p>
                
                <br>
                <p class="text-muted">

                    <b>Sign & Encrypt</b> DSC can be used for both signing and encrypting. It is convenient for users
                    who need to authenticate and maintain the confidentiality of the information shared. Its usage
                    includes filing government form and application.</p>
                
            </p-tabPanel>
            <p-tabPanel header="Certificate Class" style="text-align: justify;">
                <h4 class="text-muted"><b>Class 2</b></h4>
                <p class="text-muted">
                    It is used in various <b>form-filling, online registration, email attestation, income tax filing,
                        LLP registration, IE code registration, Form 16,</b>etc</p>

                <h4 class="text-muted"><b>Class 3</b></h4>
                <p class="text-muted">
                    It is more secure in comparison to class 2 certificate, This is the safest of all certificates. It
                    is used in <b> E-tendering, Patent and trademark e-filing, Customs e-filing, E-procurement, E-biding

                        E-auction,</b>etc </p>
            </p-tabPanel>
            <p-tabPanel header="Certificate User" style="text-align: justify;">
                <p class="text-muted">
                    Individuals</p>
               
                <p class="text-muted">
                    Organization </p>
                <p class="text-muted">
                    Foreign Individuals</p>
                <p class="text-muted">
                    Foreign Organization</p>

                <p class="text-muted">
                    Import Export Certificates</p>
            </p-tabPanel>
        </p-tabView>

    </div>
   
</div> -->
<!-- /#team-section -->
<section id="about-section" class="specials">
    <div class="container">
        <h2 style="text-align: center;">Digital Signature Certificate</h2>
        <!-- <p>To make the tabs toggleable, add the data-toggle="tab" attribute to each link. Then add a .tab-pane class
            with a unique ID for every tab and wrap them inside a div element with class .tab-content.</p> -->

        <ul class="nav nav-tabs">
            <li class="active" ><a data-toggle="tab" href="#home">Certificate Type</a></li>
            <li><a data-toggle="tab" href="#menu1">Certificate Class</a></li>
            <li><a data-toggle="tab" href="#menu2">Certificate User</a></li>
            <li><a data-toggle="tab" href="#menu3">Required Document</a></li>
        </ul>

        <div class="tab-content">
            <div id="home" class="tab-pane fade in active">
                <br>
                <p class="text-muted">
                    <b>Sign</b> DSC can only be used for signing documents. The most popular usage of is signing the PDF
                    file for Tax Returns, MCA and other websites.</p>
                <br>

                <p class="text-muted">
                    <b>Encrypt</b> DSC can only be used to encrypt a document, it is mainly used in the tender portal.
                    Encrypt DSC is fit for e-commerce documents, legal documentation and sharing documents that are
                    highly confidential and contains information that needs to be protected. </p>

                <br>
                <p class="text-muted">

                    <b>Sign & Encrypt</b> DSC can be used for both signing and encrypting. It is convenient for users
                    who need to authenticate and maintain the confidentiality of the information shared. Its usage
                    includes filing government form and application.</p>
            </div>
            <div id="menu1" class="tab-pane fade">
                <br>
                <h4 class="text-muted"><b>Class 2</b></h4>
                <p class="text-muted">
                    It is used in various <b>form-filling, online registration, email attestation, income tax filing,
                        LLP registration, IE code registration, Form 16,</b>etc</p>

                <h4 class="text-muted"><b>Class 3</b></h4>
                <p class="text-muted">
                    It is more secure in comparison to class 2 certificate, This is the safest of all certificates. It
                    is used in <b> E-tendering, Patent and trademark e-filing, Customs e-filing, E-procurement, E-biding

                        E-auction,</b>etc </p>
            </div>
            <div id="menu2" class="tab-pane fade">
                <br>
                <p class="text-muted">
                    Individuals</p>

                <p class="text-muted">
                    Organization </p>
                <p class="text-muted">
                    Foreign Individuals</p>
                <p class="text-muted">
                    Foreign Organization</p>

                <p class="text-muted">
                    Import Export Certificates</p>
            </div>
            <div id="menu3" class="tab-pane fade">
                <h4 class="text-muted"><b>Individuals</b></h4>
                <p class="text-muted">
                   Pan Card</p>
                   <p class="text-muted">
                    Aadhar Card</p>

            </div>
        </div>
    </div>

</section><!-- End Specials Section -->