<div id="about-section">
    <div class="container" style="text-align: center;margin-top: 2vw;">
        <div class="theme-title">
            <h2 class="bounceIn animated heading-style" >Digital Signature Certificate</h2>
            <hr>
            <p>Meet our team who is working hard day in day out to make Life better for the society since 1987.</p>
        </div> <!-- /.theme-title -->

        <div style="padding: 20px">

        </div>
            <div class="row">
                <div class="col-sm-4">
                    <div class="team-member" style="border: 1vw;">
                        
                        <h4>Certificate Type</h4>
                        <!-- <h5>Sign</h5> -->
                        <p class="text-muted"> 
                            <b>Sign</b> DSC can only be used for signing documents. The most popular usage of is signing the PDF file for Tax Returns, MCA and other websites.</p>
                            
                              <!-- <h5>Encrypt</h5> -->
                             <p class="text-muted"> 
                            <b>Encrypt</b> DSC can only be used to encrypt a document, it is mainly used in the tender portal. Encrypt DSC is fit for e-commerce documents, legal documentation and sharing documents that are highly confidential and contains information that needs to be protected. </p>
                            <!-- <h5>Sign & Encrypt</h5> -->
                            <p class="text-muted"> 
                             
                             <b>Sign & Encrypt</b> DSC can be used for both signing and encrypting. It is convenient for users who need to authenticate and maintain the confidentiality of the information shared. Its usage includes filing government form and application.</p>
                        <ul class="list-inline social-buttons">
                            <li class="list-inline-item">
                                <a href="#">
                                    <i class="fa fa-twitter"></i>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a href="#">
                                    <i class="fa fa-facebook"></i>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a href="#">
                                    <i class="fa fa-linkedin"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="team-member">
                        <h4>Certificate Class</h4>
                        <h5>Class 2</h5>
                        <p class="text-muted"> 
                            It is used in various <b>form-filling, online registration, email attestation, income tax filing, LLP registration, IE code registration, Form 16,</b>etc</p>
                            
                              <h5>Class 3</h5>
                             <p class="text-muted"> 
                                it is more secure in comparison to class 2 certificate, This is the safest of all certificates. It is used in <b> E-tendering, Patent and trademark e-filing, Customs e-filing, E-procurement, E-biding

                           E-auction,</b>etc </p>
                        <ul class="list-inline social-buttons">
                            <li class="list-inline-item">
                                <a href="#">
                                    <i class="fa fa-twitter"></i>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a href="#">
                                    <i class="fa fa-facebook"></i>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a href="#">
                                    <i class="fa fa-linkedin"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="team-member">
                        <h4>Certificate User</h4>
                        <!-- <h5>Class 2</h5> -->
                        <p class="text-muted"> 
                            Individuals</p>
                              <!-- <h5>Class 3</h5> -->
                             <p class="text-muted"> 
                                Organization </p>
                                <p class="text-muted"> 
                                    Foreign Individuals</p>
                                    <p class="text-muted"> 
                                        Foreign Organization</p>
                                      
                                            <p class="text-muted"> 
                                                Import Export Certificates</p>  
                        <ul class="list-inline social-buttons">
                            <li class="list-inline-item">
                                <a href="#">
                                    <i class="fa fa-twitter"></i>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a href="#">
                                    <i class="fa fa-facebook"></i>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a href="#">
                                    <i class="fa fa-linkedin"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
    </div> <!-- /.conatiner -->
</div> <!-- /#team-section -->


