<section id="applysection">
    <div class="container" style="text-align: center;margin-top: 2vw;">
        <div class="theme-title">
            <h2 class="wow bounceIn animated" data-wow-offset="50" data-wow-delay="0.3s"
                style="visibility: visible; animation-delay: 0.3s; animation-name: bounceIn;">How To Apply</h2>
            <hr id="new">
            <p>We would like you to take a tour of the procedure to appy the DSC and get the delivery at your door step.</p>
        </div> <!-- /.theme-title -->
        <div style="padding: 30px">
            <!--For some spacing-->
        </div>
        <div class="row">
            <div class="col-lg-12">
                <ul class="timeline">
                    <li>
                        <div class="timeline-image">
                            <!-- <div class="timeline-image"> -->
                            <h4>Step 1</h4>
                            <!-- </div> -->
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <!-- <h4>Step 1</h4> -->
                                <h4 class="subheading">Make Selection</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Select the class(class2 or class3) and category(Individual/Organisation) according to your requirement.</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                           
                            <h4>Step 2</h4>
                            
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <!-- <h4>Step 2</h4> -->
                                <h4 class="subheading">Make Payment & Fill the form</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Click on button (Individual / Organisation) and make the payment using any available mode. After successful payment you will redirect to the application form.Fill the form carefully.</p>
                            </div>
                        </div>
                    </li>
                    <li>
                 
                        <div class="timeline-image">
                            <h4>Step 3</h4>
                        </div>
                       
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                
                                <h4 class="subheading">Complete Verification</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Once you fill your form, please verify your contact number and Email ID via OTP. Complete Video varification through the link 
                                or app as provided in your mail.  </p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">

                      
                        <div class="timeline-image">
                            <h4>Step 4</h4>
                        </div>
                       
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                              
                                <h4 class="subheading">Upload Document*</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">In case of organisation, Please upload the required documents and send it to register office.</p>
                            </div>
                        </div>
                    </li>
                    <li>

                      
                        <div class="timeline-image">
                            <h4>Step 5</h4>
                        </div>
                       
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                              
                                <h4 class="subheading">Approval from registered Authority</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Within 1 hour, DSC Authority will send acceptance/Objection mail to your registed EmailID.In case of Objection, upload required documents.</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <h4>DSC
                                <br>is
                                <br>Ready!</h4>
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                              
                                <h4 class="subheading">DSC at your DoorStep</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">We will send you the token. After receiving the token, reach out to us. </p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div> <!-- /.col -->
        </div> <!-- /.row -->
        <div style="padding: 20px">
        </div>
    </div> <!-- /.container -->

</section> <!-- /#about-us -->